@using Microsoft.AspNet.Identity
@model SDNMediaModels.Account.ManageUserViewModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="table-active" style="text-align: center;">Change Password<hr class="table-light"/></h4>
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-6 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control-sm" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-6 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control-sm" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-8 control-label" })
        <div class="col-md-6">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control-sm" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2 col-md-offset-2">
            <input type="submit" value="Update Password" class="btn btn-default btn-sm" />
        </div>
    </div>
}
