@model IEnumerable<SDNMediaModels.Television.TelevisionSeason>

@{
    if (Model.Count() > 0)
    {

        ViewBag.Title = Model.First().TelevisionShow.ShowName.ToString() + " - Seasons ";

    }
    else
    {

        ViewBag.Title = "No Results ";
    }

}
<br />
<h2>
    @*@Html.ActionLink(Model.First().ShowName, "ShowInfo") / Seasons*@
</h2>

<table class="table table-hover">
    <tr class="table-active">
        <th>
            @Html.DisplayNameFor(model => model.SeasonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeasonHomePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeasonNumEpisodes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fk_ShowID)
        </th>
        <th></th>
    </tr>

    @{ 
        if (Model.Count() > 0)
        {
            foreach (var item in Model)
            {
                <tr class="table-light">
                    <td>
                        @Html.DisplayFor(modelItem => item.SeasonName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeasonHomePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SeasonNumEpisodes)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fk_ShowID)
                    </td>
                    <td>
                        @Html.ActionLink("Episodes", "EpisodeInfo", new { id = item.pk_SeasonID }) |
                        @Html.ActionLink("Edit Season", "EditSeasonInfo", new { id = item.pk_SeasonID }) |
                        @Html.ActionLink("Watch Season", "WatchSeason", new { id = item.pk_SeasonID }, new { data_target = "#season-player-modal-container", data_toggle = "modal" })
                    </td>
                </tr>
            }
        }
        else
        {

            <tr class="table-light">
                <td colspan="5" style="margin: 0 auto 0; font-style: italic; text-align: center;">
                    There are no seasons associated with this show.  You can <a href="@Url.Action("AddSeason", "Media")">Add a season</a> to the show then view the details here after.
                </td>
            </tr>
        }
     }
</table>

<!-- Code for Play Season Modal Popup -->
<center>
    <div id="season-player-modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 850px; margin: 0 auto 0;">


            </div>
        </div>
    </div>
</center>
<!-- Script to show/hide modals and clear data between closing -->
<script>

    // note that this will replace the content of modal-content ever time the modal is opened - FOR Season Player Modal
    $('#season-player-modal-container').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var url = button.attr("href");
        var modal = $(this);

        modal.find('.modal-content').load(url);
    });

</script>