@model IEnumerable<DashboardUI.Models.TelevisionShowModel>

@{
    ViewBag.Title = "SDN Media Television Shows";
}
<h2 style="margin: 0 auto 0; text-align: center;"> Television Show Library</h2>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShowName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowDriveLetter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowHomePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowNumSeasons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShowNumEpisodes)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShowName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowDriveLetter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowHomePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowNumSeasons)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShowNumEpisodes)
        </td>
        <td>
            @Html.ActionLink("Check Seasons", "SeasonInfo", new { id=item.pk_ShowID })
        </td>
    </tr>
}
</tbody>
</table>
