<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Sietsma Development Network</title>
    @Scripts.Render("~/bundles/jquery")
    	<link href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.common.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.mobile.all.min.css" rel="stylesheet" type="text/css" />
	<link href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.black.min.css" rel="stylesheet" type="text/css" />
	<script src="https://kendo.cdn.telerik.com/2018.3.1017/js/jquery.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2018.3.1017/js/jszip.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2018.3.1017/js/kendo.all.min.js"></script>
	<script src="https://kendo.cdn.telerik.com/2018.3.1017/js/kendo.aspnetmvc.min.js"></script>
@Styles.Render("~/Content/css")

	<script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>
</head>
<body>

    <style type="text/css">

        /* entire container, keeps perspective */
        .flip-container {
        perspective: 1000px;
        }
        /* flip the pane when hovered */
        .flip-container:hover .flipper, .flip-container.hover .flipper {
        transform: rotateY(180deg);
        }

        .flip-container, .front, .back {
        width: 180px;
        height: 250px;
        }

        /* flip speed goes here */
        .flipper {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
        }

        /* hide back of pane during swap */
        .front, .back {
            backface-visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid black;
        }

        /* front pane, placed above back */
        .front {
        z-index: 2;
        /* for firefox 31 */
        transform: rotateY(0deg);
        }

        /* back, initially hidden pane */
        .back {
        transform: rotateY(180deg);
        }
    </style>

    @{
        Html.RenderPartial("_HeaderNavBar");
    }
    <div class="container-fluid body-content">
        <br />
        @RenderBody()
    </div>
    <div>
        <hr />

        @{
            Html.RenderPartial("_FooterNavBar");
        }

    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
